* {
  box-sizing: border-box;
  text-align: center;
}

body {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: repeat-x;
}

.site-wrapper {
  padding-top: 2%;
}

.search-box, .search-button {
  border-radius: 6px;
  margin: 1% 1% 2%;
}

.search-box {
  cursor: text;
  padding: 0.75em;
  font-size: 0.5em;
}

.search-button {
  cursor: pointer;
  padding: 1em;
  font-size: 0.75em;
}

.photo-wrapper {
  margin-top: 2%;
  display: flex;
  justify-content: center;
    img {  
      height: 200px;
      object-fit: contain;
      margin: 1%;
    }
}

// Changing layout of photos for smaller devices
@media only screen and (max-width: 768px) {
  .photo-wrapper {
    flex-direction: column;
    img {
      align-self: center;
      margin-bottom: 2%;
    }
  }
}
